:root {
  --brand-color: linear-gradient(90deg, #4F39F6 0%, #9514FA 100%);
}

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    font-family: "Manrope", sans-serif;
}

.brand-bg {
  background: var(--brand-color)
}

.brand-text {
  background: var(--brand-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}